body {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-side {
    float: left;
    width: 33.33%;
    overflow: hidden;
}

#logo-text {
    position: absolute;
    top: calc(50% - 250px); /* moves the rectangle 50px above the middle */
    width: 33.4%;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgreen;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#left-side img[src="img/forest-image.jpg"] {
    width: 100%;
    height: 100%;
}
  

#logo-text p {
    display: flex;
    align-items: center;
    font-size: larger;
}

#logo-text img {
    margin-right: 10px;
}

#right-side {
    float: right;
    width: 66.66%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#header-text {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    height: 34.5%;
    padding: 1em;
}

#header-text p {
    max-width: 70%;
    width: 100%;
  }
  

#form-div {
    background-color: white;
    height: 55%; /* increase the height */
    display: flex;
    justify-content: center;
    padding: 1em; /* increase the padding */
    background-image: url(img/wood-texture.jpg);
    background-size: cover;
    background-position: center;
}
  

form {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 25px;
    width: 75%;
}

form label {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="password"],
  form input[type="email"],
  form input[type="tel"] {
    border: none;
    border-radius: 5px;
    height: 35px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-size: larger;
  }
  
  form input[type="text"]::placeholder,
  form input[type="password"]::placeholder,
  form input[type="email"]::placeholder,
  form input[type="tel"]::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  
  button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  button:hover {
    background-color: #f4f404;
  }
  
  

#log-in {
    background-color: green;
    height: 15.5%;
}

.input {
    display: flex;
    flex-direction: column;
}

#item1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
  
#item2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
  
#item3 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
  
#item4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
  
#item5 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
  
#item6 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#item7 {
    grid-row: 4/4;
}