#content {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}

#left-side {
    float: left;
    width: 33.33%;
}

#logo-text {
    position: absolute;
    top: calc(50% - 250px); /* moves the rectangle 50px above the middle */
    width: 33.4%;
    height: 100px;
    background-color: lightgreen;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-text p {
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

#logo-text img {
    margin-right: 10px;
}

#right-side {
    float: right;
    width: 66.66%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#header-text {
    background-color: aqua;
    height: 34.5%;
}

#form {
    background-color: yellow;
    height: 50%;
}

#log-in {
    background-color: green;
    height: 15.5%;
}